.footer-container {
  width: 100%;
  background-color: $charcoal;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.footer-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
  padding: 80px 0;
}

.footer-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 30px 0;
}

.contacts {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 16px;
}