*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*:active,
*:focus {
  outline: 0;
}

body {
  margin: 0;
  font-family: $main_font;
  line-height: 1.215;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

h1 {
  margin-bottom: 0.25em !important;
}

section {
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.content-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;

  @media (min-width: $breakpoint-lg) {
    max-width: 1140px;
  }

  @media (min-width: $breakpoint-xl) {
    max-width: 1320px;
  }
}

.title-container {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
}