$black: #000000;
$light: #ffffff;
$grey: #f2f2f2;
$cool_grey: #8A91A6;
$indigo: #184059;
$blue: #3C5473;
$charcoal: #272C33;
$light_opacity: rgba(255, 255, 255, 0.84);
$light_opacity_bg: rgba(255, 255, 255, 0.5);
$black_opacity: rgba(0, 0, 0, 0.45);

$radius: 20px;
